@import "tailwindcss";

:root {
  --fyx-yellow: #fcac1d;
  --fyx-blue: #374150;
}

@theme {
  --color-fyx-yellow: var(--fyx-yellow);
  --color-fyx-blue: var(--fyx-blue);
  
  /* Set default text color */
  --color-text: var(--fyx-blue);
}

@theme inline {
  --font-sans: var(--font-archivo-black);
  --font-mono: var(--font-roboto-mono);
}

body {
  @apply text-fyx-blue; /* This sets default text color */
  font-family: Arial, Helvetica, sans-serif;
  background: #333c42;
  color: #f7f8f7;
}