@import "tailwindcss";

:root {
  --fyx-yellow: #fcac1d;
  --fyx-blue: #374150;
  font-family: "poppins",
}

@theme {
  --font-heading: "Archivo Black", sans-serif;

  --font-roboto: "Roboto", sans-serif;
  --font-mono: "Roboto Mono", monospace;
  --font-poppins: "Poppins", sans-serif;

  --color-fyx-yellow: #fcac1d;
  --color-fyx-blue: #374150;
}



body {


  background: oklch(98.5% 0.002 247.839);
  color: #f7f8f7;
}